// @import "~bootstrap/scss/bootstrap";
@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
    --primary-color: #0d6efd;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    color: var(--primary-color);
}

#header {
    #blue-bar {
        font-size: 0.8rem;
        font-weight: 600;
    }

    .container {
        padding: 1.5rem;

        img {
            height: 70px;
        }

        .search {
            border-bottom: 2px solid var(--primary-color);
        }
    }
}
